<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="All" parallel="">
    <suite-files>
        <suite-file path="java/TestSuites/AuthenticationWeb.xml"></suite-file>
        <!--<suite-file path="iOS.xml"></suite-file>-->
        <suite-file path="java/TestSuites/AuthenticationAndroid.xml"></suite-file>
    </suite-files>
</suite>
